.carouselImage{

height:300px;
width: 100%;

}


.services{

	padding: 20px;

}

.portfolio{

	background-color: #C0C0C0;
	padding: 20px;
}





.serviceLabel{

	position: relative;
	bottom: 15px;
	height: 25px;
	width:150px;
	background-color: #0070ff;
	
	
}

.logo{

	position: relative;
	bottom: 10px;
}